/* These definitions override bootstrap */

.container.page-container{
    width: 100%;
    padding: 10px 0 0 10px;
}

.right-sidebar {
    height: 512px;
    border-left: 2px solid #888888;
    padding: 20px 0 20px 20px;
}

.controls-wrapper, .settings-wrapper {
    margin: 20px 0 20px 0;
}

.btn-primary, .btn-danger, .nav li a, input{
    color: #000000;
    background: transparent;
    border: 2px solid #000000;
}

.btn-danger.delete {
    border : 0px;
    border-radius : 50%;
}

.btn-primary:focus, .btn-primary:hover, .btn-primary:active,
.open .dropdown-toggle.btn-primary, .nav li a:hover, .nav li a.active {
    background: #000000; !important;
    border: 2px solid #000000; !important;
    color : white; !important;
}

.gui-controller {
    display: inline-block;
    margin: 10px;
    padding: 5px 10px 10px 10px;
    text-align: left;
    box-shadow: 0 0 3px 3px #888888;
}

.gui-controller > span, .add-item-controller > span {
    font-size: large;
}

td {
    padding: 3px;
}

.nav-tabs {
    border-bottom: 1.5px solid black;
}

.triangle-table td input {
    width: 50px;
}