/* These definitions override bootstrap */

.container.page-container{
    width: 100%;
    padding: 10px 0 0 10px;
}

.btn-primary {
    color: #000000;
    background: transparent;
    border: 2px solid #000000;
}

.btn-danger {
    color: #000000;
    background: transparent;
    border: 2px solid #000000;
}

.btn-primary:hover {
    background: #000000;
    border: 2px solid #000000;
}

.gui-controller {
    display: inline-block;
    width: 40%;
    margin: 0 10px 0 10px;
}