<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>tracejs</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-select.css" />
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />-->
    <link rel="stylesheet" href="css/main.css" />

    <!-- JS -->
    <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-route.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/bootstrap-select.js"></script>

    <!-- Tracejs -->
    <script type="text/javascript" src="src/js/Utilities/Utils.js"></script>
    <script type="text/javascript" src="src/js/Utilities/Point3D.js"></script>
    <script type="text/javascript" src="src/js/Utilities/Point2D.js"></script>
    <script type="text/javascript" src="src/js/Utilities/Vector3D.js"></script>
    <script type="text/javascript" src="src/js/Utilities/Normal.js"></script>
    <script type="text/javascript" src="src/js/Utilities/Ray.js"></script>
    <script type="text/javascript" src="src/js/Utilities/RGBColor.js"></script>
    <script type="text/javascript" src="src/js/Utilities/ShadeRec.js"></script>

    <script type="text/javascript" src="src/js/Tracers/Tracer.js"></script>
    <script type="text/javascript" src="src/js/Tracers/SingleSphere.js"></script>
    <script type="text/javascript" src="src/js/Tracers/RayCast.js"></script>

    <script type="text/javascript" src="src/js/GeometricObjects/GeometricObject.js"></script>
    <script type="text/javascript" src="src/js/GeometricObjects/Primitives/Sphere.js"></script>

    <script type="text/javascript" src="src/js/Samplers/Sampler.js"></script>
    <script type="text/javascript" src="src/js/Samplers/Regular.js"></script>
    <script type="text/javascript" src="src/js/Samplers/MultiJittered.js"></script>

    <script type="text/javascript" src="src/js/Cameras/Camera.js"></script>
    <script type="text/javascript" src="src/js/Cameras/Pinhole.js"></script>
    <script type="text/javascript" src="src/js/Cameras/Orthographic.js"></script>

    <script type="text/javascript" src="src/js/Lights/Light.js"></script>
    <script type="text/javascript" src="src/js/Lights/AmbientLight.js"></script>
    <script type="text/javascript" src="src/js/Lights/DirectionalLight.js"></script>
    <script type="text/javascript" src="src/js/Lights/PointLight.js"></script>

    <script type="text/javascript" src="src/js/BRDFs/BRDF.js"></script>
    <script type="text/javascript" src="src/js/BRDFs/Lambertian.js"></script>
    <script type="text/javascript" src="src/js/BRDFs/GlossySpecular.js"></script>

    <script type="text/javascript" src="src/js/Materials/Material.js"></script>
    <script type="text/javascript" src="src/js/Materials/Matte.js"></script>
    <script type="text/javascript" src="src/js/Materials/Phong.js"></script>

    <script type="text/javascript" src="src/js/World/ViewPlane.js"></script>
    <script type="text/javascript" src="src/js/World/World.js"></script>

    <script type="text/javascript" src="js/GUI/guiControllers.js"></script>
    <script type="text/javascript" src="js/GUI/guiServices.js"></script>
    <script type="text/javascript" src="js/GUI/guiDirectives.js"></script>
    <script type="text/javascript" src="js/GUI/guiApp.js"></script>
</head>
<body ng-app="guiApp">

    <div class="container page-container" ng-controller="MainController">
        <div class="row">
            <div class="col-md-12">
                <h1>Trace.js</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <canvas id="canvas" width="512" height="512" style="box-shadow: 0 0 3px 3px #888888;">
                </canvas>
            </div>

            <div class="col-md-4">

                <div class="controls-wrapper">
                    <div class="btn-group">
                        <button id="render-scene" type="submit" class="btn btn-primary" ng-click="renderScene()">Render</button>
                        <button class="btn btn-danger" type="reset" ng-click="resetScene()">Reset scene</button>
                    </div>
                    <div class="rendering" ng-show="rendering">Rendering...</div>
                </div>

                <div class="settings-wrapper">
                    <ul class="nav nav-tabs">
                        <li><a class="active" ng-href="#/scene">General</a></li>
                        <li><a ng-href="#/objects">Objects</a></li>
                        <li><a ng-href="#/lights">Lights</a></li>
                    </ul>
                </div>

                <ng-view onload="bootstrapSelect()"></ng-view>

            </div>
        </div>
    </div>

<!-- bootstrap nav -->
<script>
        $('ul.nav.nav-tabs li a').click(function() {
            $(this).addClass('active').parent().siblings().children().removeClass('active');
        })
</script>
</body>
</html>